@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
   font-family: 'Open Sans',serif;
}


@font-face {
  font-family: Poppins-Regular;
  src: url('../font/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../font/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../font/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../font/Poppins-SemiBold.ttf'); 
}



h1{
	color:blue;
	font-family:Poppins-Medium,sans-serif;

}
.banner-area {
  background: url(../img/header-bg.jpg) center;
  background-size: cover;
}

.banner-content {
  margin-top: 150px;
  text-align: center;
  margin-bottom: auto; 
  margin-left: auto;
  margin-right: auto; 
}

.banner-content h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1em;
  margin-top: 20px;
}

.banner-content h1 span {
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .banner-content h1 {
    font-size: 36px;
  }
}

@media (max-width: 991.98px) {
  .banner-content h1 br {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .banner-content h1 {
    font-size: 45px;
  }
}

@media (max-width: 414px) {
  .banner-content h1 {
    font-size: 32px;
  }
}

@media (max-width: 1280px) {
  .banner-content br {
    display: none;
  }
}

@media (max-width: 763px) {
  .banner-content p {
    color: #222;
  }
}

body {margin:2rem;}

.form-rounded {
border-radius: 1rem;
}
div.relative {
  position: relative;
  left: 110px;
  top:-20px;
  color: blue;
}
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}


.container-login100 {
  width: 100%;  
  min-height: 100vh;
  margin-top:20px; 
  margin-left:45px;   
}

.customh5{
  color: rgb(220,20,60);
  font-family: Poppins-light,sans-serif;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;

}
.button-ad{
  margin-top: 20px;
  margin-left: 330px; 
}
input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 40px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:#4d90fe;
}

input[type="text"] {
    border-radius: 25px;
    background: #fff;
    border: 1px solid #dfe1e5;
    color: black;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 482px;
    padding: 0 16px;
    height:44px;
}
input[type="text"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}